<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input v-model="targetDt"><button @click="getmovie">조회</button>
    <table>
      <tr v-for="mv in movie">
        <td>{{mv.rnum}}</td>
        <td>{{mv.movieNm}}</td>
        <td>{{mv.openDt}}</td>
      </tr>
    </table>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    Vue.createApp({
      data(){ 
        return { 
        targetDt1 : '20250423',
        movie : [ ]
        }
      },
      methods : {     
        getmovie(){
          fetch('http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=12664b24453335d2c3eca0fdc4b3b013&targetDt=' + this.targetDt)
          .then(response => response.json())
          .then(response => this.movie = response.boxOfficeResult.dailyBoxOfficeList)
        }
      },
      mounted(){
        this.getmovie();
      }
    }).mount("#app");
  </script>
</body>
</html>